.vscode/

# interpreter bytecode
__pycache__/

# experiment results
runs/

# evaluation tools folder
val_utils/

# zip files
*.zip

#
examples/
yaml/
weights/

# exports
*_openvino_model
*.torchscript
*.pt
*.onnx
*.engine

#
Ch4_cam11_1_640.mp4